server:
  sip_host: 0.0.0.0
  sip_port: 5060
  external_ip: 192.168.1.14
  rtp_port_range_start: 10000
  rtp_port_range_end: 20000
  server_name: InHouse-PBX
  version: 1.0.0
api:
  host: 0.0.0.0
  port: 8080
  enable_cors: true
extensions:
- number: '1001'
  name: Office Extension 1
  password: password1001
  allow_external: true
  email: ext1001@albl.com
  voicemail_pin: '1234'
- number: '1002'
  name: Office Extension 2
  password: password1002
  allow_external: true
  email: ext1002@albl.com
- number: '1003'
  name: Conference Room
  password: password1003
  allow_external: false
  email: conference@albl.com
- number: '1004'
  name: Customer Service
  password: password1004
  allow_external: true
  email: support@albl.com
dialplan:
  internal_pattern: ^1[0-9]{3}$
  conference_pattern: ^2[0-9]{3}$
  voicemail_pattern: ^\*[0-9]{3}$
  parking_pattern: ^7[0-9]$
  queue_pattern: ^8[0-9]{3}$
features:
  call_recording: true
  call_transfer: true
  call_hold: true
  conference: true
  voicemail: true
  call_parking: true
  call_queues: true
  presence: true
  music_on_hold: true
  max_call_duration: 7200
recording:
  auto_record: false
  storage_path: recordings
  format: wav
voicemail:
  storage_path: voicemail
  max_message_duration: 180
  email_notifications: true
  no_answer_timeout: 30
  smtp:
    host: 192.168.1.75
    port: 587
    use_tls: true
    username: cmattinson
    password: G0N@vyBuyC@n3$
  email:
    from_address: Voicemail@albl.com
    from_name: ABCo Voicemail
    subject_template: New Voicemail from {caller_id} - {timestamp}
    include_attachment: true
    send_immediately: true
  reminders:
    enabled: true
    time: 09:00
    unread_only: true
conference:
  max_participants: 50
  record_conferences: false
queues:
- number: '8001'
  name: Sales Queue
  strategy: round_robin
  max_wait_time: 300
- number: '8002'
  name: Support Queue
  strategy: least_recent
  max_wait_time: 180
parking:
  range_start: 70
  range_end: 79
  timeout: 120
presence:
  auto_away_timeout: 300
  auto_offline_timeout: 1800
music_on_hold:
  directory: moh
  default_class: default
logging:
  level: INFO
  file: logs/pbx.log
  console: true
security:
  require_authentication: true
  max_failed_attempts: 5
  ban_duration: 300
  fips_mode: true
  enable_tls: false
  tls_cert_file: ''
  tls_key_file: ''
  enable_srtp: false
  min_password_length: 12
  require_strong_passwords: true
provisioning:
  enabled: true
  url_format: http://{{SERVER_IP}}:{{PORT}}/provision/{mac}.cfg
  custom_templates_dir: ''
  devices: []
trunks: null
