api:
  enable_cors: true
  host: 0.0.0.0
  port: 8080
  ssl:
    ca:
      ca_cert: certs/ca.crt
      enabled: false
      request_endpoint: /api/sign-cert
      server_url: https://ca.example.com
    cert_file: certs/server.crt
    enabled: true
    key_file: certs/server.key
auto_attendant:
  audio_path: auto_attendant
  enabled: true
  extension: '0'
  max_retries: 3
  menu_options:
  - description: Sales Queue
    destination: '8001'
    digit: '1'
  - description: Support Queue
    destination: '8002'
    digit: '2'
  - description: Accounting
    destination: '1003'
    digit: '3'
  - description: Operator
    destination: '1001'
    digit: '0'
  operator_extension: '1001'
  timeout: 10
codecs:
  g722:
    bitrate: 64000
    enabled: true
  opus:
    bitrate: 32000
    enabled: false
    sample_rate: 48000
conference:
  max_participants: 50
  record_conferences: false
database:
  host: ${DB_HOST}
  name: ${DB_NAME}
  password: ${DB_PASSWORD}
  path: pbx.db
  port: ${DB_PORT}
  type: sqlite
  user: ${DB_USER}
dialplan:
  auto_attendant_pattern: ^0$
  conference_pattern: ^2[0-9]{3}$
  internal_pattern: ^1[0-9]{3}$
  parking_pattern: ^7[0-9]$
  queue_pattern: ^8[0-9]{3}$
  voicemail_pattern: ^\*[0-9]{3,4}$
features:
  auto_attendant: true
  call_hold: true
  call_parking: true
  call_queues: true
  call_recording: true
  call_transfer: true
  conference: true
  crm_integration:
    cache_enabled: true
    cache_timeout: 3600
    enabled: true
    providers:
    - enabled: true
      name: PhoneBook
      type: phone_book
    - enabled: true
      name: ActiveDirectory
      type: active_directory
  hot_desking:
    allow_concurrent_logins: false
    auto_logout_timeout: 28800
    enabled: true
    require_pin: true
  max_call_duration: 7200
  music_on_hold: true
  phone_book:
    auto_sync_from_ad: true
    enabled: true
  presence: true
  voicemail: true
  voicemail_transcription:
    enabled: true
    provider: vosk
    vosk_model_path: models/vosk-model-small-en-us-0.15
  webhooks:
    enabled: false
    max_retries: 3
    retry_delay: 5
    subscriptions: []
    timeout: 10
    worker_threads: 2
  webrtc:
    audio:
      auto_gain_control: true
      comfort_noise: true
      echo_cancellation: true
      noise_reduction: true
      voice_activity_detection: true
    codecs:
    - enabled: true
      name: PCMU
      payload_type: 0
      priority: 1
    - enabled: true
      name: PCMA
      payload_type: 8
      priority: 2
    - enabled: true
      name: G722
      payload_type: 9
      priority: 3
    - enabled: true
      name: telephone-event
      payload_type: 101
      priority: 4
    dtmf:
      duration: 160
      mode: RFC2833
      payload_type: 101
      sip_info_fallback: true
    enabled: true
    ice_transport_policy: all
    nat:
      rport: true
      udp_update_time: 30
    rtp:
      packet_time: 20
      port_max: 20000
      port_min: 10000
    session_timeout: 3600
    stun_servers:
    - stun:stun.l.google.com:19302
    - stun:stun1.l.google.com:19302
    turn_servers: []
    verbose_logging: false
integrations:
  active_directory:
    auto_provision: true
    base_dn: DC=albl,DC=com
    bind_dn: CN=Administrator,CN=Users,DC=albl,DC=com
    bind_password: ${AD_BIND_PASSWORD}
    deactivate_removed_users: true
    enabled: true
    group_permissions:
      CN=Executives,OU=Groups,DC=albl,DC=com:
      - vip_status
      - priority_routing
      - executive_conference
      CN=PBX_Admins,OU=Groups,DC=albl,DC=com:
      - admin
      - manage_extensions
      - view_cdr
      - system_config
      CN=Sales,OU=Groups,DC=albl,DC=com:
      - external_calling
      - international_calling
      - call_transfer
      CN=Support,OU=Groups,DC=albl,DC=com:
      - call_recording
      - call_queues
      - call_monitoring
    server: ldaps://192.168.1.22:636
    use_ssl: true
    user_search_base: CN=Users,DC=albl,DC=com
  outlook:
    auto_dnd_in_meetings: true
    client_id: ''
    client_secret: ''
    enabled: false
    sync_interval: 300
    tenant_id: ''
  teams:
    client_id: ''
    client_secret: ''
    enabled: false
    sbc_fqdn: ''
    sip_domain: ''
    tenant_id: ''
  zoom:
    account_id: ''
    api_base_url: https://api.zoom.us/v2
    client_id: ''
    client_secret: ''
    enabled: false
    phone_enabled: false
logging:
  console: true
  file: logs/pbx.log
  level: INFO
music_on_hold:
  default_class: default
  directory: moh
parking:
  range_end: 79
  range_start: 70
  timeout: 120
presence:
  auto_away_timeout: 300
  auto_offline_timeout: 1800
provisioning:
  custom_templates_dir: provisioning_templates
  devices: []
  enabled: true
  ldap_phonebook:
    display_name: Company Directory
    enable: 1
    name_attr: cn
    name_filter: (&(|(cn=%)(sn=%))(telephoneNumber=*))
    number_attr: telephoneNumber
    number_filter: (|(telephoneNumber=%)(mobile=%))
  remote_phonebook:
    refresh_interval: 60
    url: https://192.168.1.14:8080/api/phone-book/export/xml
  url_format: https://{{SERVER_IP}}:{{PORT}}/provision/{mac}.cfg
queues:
- max_wait_time: 300
  name: Sales Queue
  number: '8001'
  strategy: round_robin
- max_wait_time: 180
  name: Support Queue
  number: '8002'
  strategy: least_recent
recording:
  auto_record: false
  format: wav
  storage_path: recordings
security:
  audit:
    enabled: true
    log_file: logs/security_audit.log
    log_to_database: true
    log_to_file: false
  ban_duration: 300
  enable_srtp: false
  enable_tls: false
  enforce_fips: true
  fips_mode: true
  max_failed_attempts: 5
  min_password_length: 12
  password:
    max_length: 128
    min_length: 12
    require_digit: true
    require_lowercase: true
    require_special: true
    require_uppercase: true
  rate_limit:
    lockout_duration: 900
    max_attempts: 5
    window_seconds: 300
  require_authentication: true
  require_strong_passwords: true
  tls_cert_file: ''
  tls_key_file: ''
server:
  external_ip: 192.168.1.14
  rtp_port_range_end: 20000
  rtp_port_range_start: 10000
  server_name: Aluminum Blanking Phone System
  sip_host: 0.0.0.0
  sip_port: 5060
  version: 1.0.0
trunks: null
voicemail:
  allow_custom_greetings: true
  email:
    from_address: Voicemail@albl.com
    from_name: ABCo Voicemail
    include_attachment: true
    send_immediately: true
    subject_template: New Voicemail from {caller_id} - {timestamp}
  email_notifications: true
  max_greeting_duration: 30
  max_message_duration: 180
  no_answer_timeout: 30
  reminders:
    enabled: true
    time: 09:00
    unread_only: true
  smtp:
    host: ${SMTP_HOST}
    password: ${SMTP_PASSWORD}
    port: ${SMTP_PORT}
    use_tls: true
    username: ${SMTP_USERNAME}
  storage_path: voicemail
